{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Rewards List</title>
{% endblock %}
{% block css %}

{% endblock %}

{% block content %}
  <h1>Rewards List</h1>
  <div class="container">
    <div class="row">
      {% for reward in rewards %}
        <div class="col-lg-2 col-md-4 col-sm-12 card m-1" style="width: 18rem; padding: 0;">
          {% if 'placeholder' in reward.image.url %}
            <img src="{% static 'images/placeholder/placeholder.webp' %}" class="card-img-top" alt="Reward Cup" />
          {% else %}
            <img src="{{ reward.image }}" class="card-img-top" alt="{{ reward.name }} image" />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ reward.name }}</h5>
            <p class="card-text">{{ reward.description }}</p>
            <a href="{% url 'reward_details' reward.id %}" class="btn btn-primary">See Details</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
