{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Rewards List</title>
{% endblock %}
{% block css %}

{% endblock %}

{% block content %}
  <div class="container">
    <h1>Rewards List</h1>
    <div>
      {% for reward in rewards %}
        <div class="card" style="width: 18rem;">
          {% if 'placeholder' in reward.image.url %}
            <img src="{% static 'images/placeholder/placeholder.webp' %}" class="card-img-top" alt="Reward Cup" />
          {% else %}
            <img src="{{ reward.image }}" class="card-img-top" alt="{{ reward.name }} image" />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ reward.name }}</h5>
            <p class="card-text">{{ reward.description }}</p>
            <a href="#" class="btn btn-primary">See Details</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
