{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{ user.user.username }}'s Profile</h1>
    <h2>Profile Picture</h2>
    {% if user.profile_picture %}
      <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}'s Profile Picture" />
    {% else %}
      <img src="{% static 'images/placeholder/default_profile_image.webp' %}" alt="{{ user.username }}'s Profile Picture" />
    {% endif %}
    <p>Email: {{ user.user_email }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <h2>Profile Picture</h2>
    {% if user.profile_picture %}
      <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}'s Profile Picture" />
    {% else %}
      <img src="{% static 'images/placeholder/default_profile_image.webp' %}" alt="{{ user.username }}'s Profile Picture" />
    {% endif %}
  </div>
{% endblock %}
