{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Profile
{% endblock %}
{% block css %}

{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ profile.user_username }}'s Profile</h1>
  <h2>Profile Picture</h2>
  {% if profile.profile_picture %}
  <img src="{{ profile.profile_picture.url }}" alt="{{ profile.user_username }}'s Profile Picture" />
  {% else %}
  <img src="{% static 'images/placeholder/default_profile_image.webp' %}"
    alt="{{ profile.user_username }}'s Profile Picture" />
  {% endif %}
  <p>Email: {{ profile.user_email }}</p>
  <p>First Name: {{ profile.first_name }}</p>
  <p>Last Name: {{ profile.last_name }}</p>
  <a href="{{ account_update_url }}" class="btn btn-primary">Edit Profile</a>
  <a href="{{ account_change_password_url }}" class="btn btn-primary">Change Password</a>
</div>
{% endblock %}