{% extends 'base.html' %}
{% load static %}
{% block title %}
  
{% endblock %}

{% block css %}
  
{% endblock %}

{% block content %}
  <section class="container py-5">
    <header class="d-flex align-items-center justify-content-between mb-4">
      <h1 class="h2 mb-0">Reward Orders</h1>
    </header>

    <!-- Open / Undone -->
    <section class="mb-5" aria-labelledby="open-tasks">
      <h2 id="open-tasks" class="h4 mb-3">Open Orders</h2>
      
        <div class="row row-cols-1 row-cols-md-2 g-4">
          {% for order in orders %}
            <div class="col">
              {% include 'checkout/_order_card.html' with order=order %}
            </div>
          {% endfor %}
        </div>
      
    </section>


  </section>
{% endblock %}
