{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}
  {% trans 'Sign In' %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/allauth/generic_allauth.css' %}">
{% endblock %}

{% block content %}
  <section class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <header class="text-center mb-4">
          <h1 class="h3 mb-1">{% trans 'Sign In' %}</h1>
          <p class="text-body-secondary mb-0">
            By continuing, you agree to our <a href="{% url 'terms_and_conditions' %}">Terms of Use</a> and confirm that you understand the <a href="{% url 'privacy_policy' %}">Privacy Policy</a>.
          </p>
        </header>
      {% comment %} 
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
          <div class="card border-0 shadow-sm mb-4">
            <div class="card-body">
              <p class="mb-3">
                {% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:{% endblocktrans %}
              </p>

              <ul class="list-unstyled d-flex flex-wrap gap-2 mb-3">
                {% include 'socialaccount/snippets/provider_list.html' with process='login' %}
              </ul>

              {% include 'socialaccount/snippets/login_extra.html' %}
            </div>
          </div>
        {% else %}
          <p class="mb-4">
            {% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
          </p>
        {% endif %} 
      {% endcomment %}
        <form class="card border-0 shadow-sm" method="POST" action="{% url 'account_login' %}">
          <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
          </div>
          <div class="card-footer d-flex justify-content-start align-items-center">
            <a class="btn btn-link p-0 m-1" href="{% url 'account_signup' %}">{% trans 'No Account yet?' %}</a> |
            <a class="btn btn-link p-0 m-1" href="{% url 'account_reset_password' %}">{% trans 'Forgot Password?' %}</a>
          </div>
          <div class="d-grid d-sm-flex gap-2 m-2">
            
            
            <button class="btn btn-primary ms-sm-auto" type="submit">{% trans 'Sign In' %}</button>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
