{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans 'Set Password' %}
{% endblock %}
{% block css %}
{% endblock %}

{% block content %}
  <section class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <form method="POST" action="{% url 'account_set_password' %}" class="card border-0 shadow-sm">
          <div class="card-body">
            <h1 class="h4 mb-3">{% trans 'Set Password' %}</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid">
              <button type="submit" name="action" class="btn btn-primary">{% trans 'Set Password' %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
