{% load static %}
{% block css%}
    <link rel="stylesheet" href="{% static 'css/tasks/_task_card.css' %}">
{% endblock %}
<div class="card h-100">
  <div class="card-body">
    <div class="row align-items-center g-3">
      <div class="col-12 col-lg-3">
        <h5 class="card-title mb-0">{{ task.title }}</h5>
      </div>

      {% if perms.tasks.mark_done %}
        <div class="col-6 col-lg-3">
          <p class="card-text mb-0">
            <span class="d-block small text-body-secondary">Created by</span>
            {{ task.user }}
          </p>
        </div>
      {% endif %}

      <div class="col-6 col-lg-3">
        <p class="card-text mb-0">
          <span class="d-block small text-body-secondary">Deadline:</span>
          {{ task.checkup_date }}
        </p>
      </div>

      <div class="col-6 col-lg-2">
        <p class="card-text mb-0">
          <span class="d-block small text-body-secondary">Fee</span>
          {{ task.fee }}
        </p>
      </div>

      <div class="col-6 col-lg-2">
        <p class="card-text mb-0">
          <span class="d-block small text-body-secondary">Points</span>
          {{ task.points }}
        </p>
      </div>

      <div class="col-12 col-lg-auto ms-lg-auto">
        <a href="{% url 'view_task_details' task.id %}" class="btn btn-primary" aria-label="View Task Details">View Details</a>
      </div>
    </div>
  </div>
</div>
