{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Task Overview</title>
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
  <div class="container">
    <h1>Task Overview</h1>
  </div>
  <div>
    {% if not tasks %}
      <p>You have no current tasks.</p>
    {% else %}
      {% for task in tasks %}
        {% include 'tasks/_task_card.html' with task=task %} 
      {% endfor %}
      
    {% endif %}
    <a href="{% url 'add_task' %}" class="btn btn-primary hero-btn" aria-label="Add Task">Add Task</a>
  </div>
{% endblock %}
