{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Task Overview</title>
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
  <div class="container">
    <h1>Task Overview</h1>
  </div>
  <div>
    {% if not tasks %}
      <p>You have no current tasks.</p>
    {% else %}
      {% for task in tasks %}
        <div class="task">
          <h2>{{ task.title }}</h2>
          <p>{{ task.description }}</p>
          <a href="{% url 'view_task_details' task.id %}" class="btn btn-primary hero-btn" aria-label="View Task Details">View Task Details</a>
        </div>
      {% endfor %}
      
    {% endif %}
    <a href="{% url 'add_task' %}" class="btn btn-primary hero-btn" aria-label="Add Task">Add Task</a>
  </div>
{% endblock %}
