{% extends 'base.html' %}
{% load static %}
{% block meta %}

{% endblock %}
{% block title %}

{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
  <div class="container">
    <h1>Task Details</h1>
    <div class="task-details">
      <h2>{{ task.title }}</h2>
      <p>{{ task.description }}</p>
      <p>Checkup Interval: {{ task.interval }}</p>
      <p>Fee for Failure: {{ task.fee }}€</p>
      <p>Points for Completion: {{ task.points }} Points</p>
      {% if task.completed == True %}
        <p>Task done succesfully: Yes</p>
      {% endif %}
      {% if not perms.tasks.mark_done %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ check_form.as_p }}
          <button type="submit" name="proof_upload">Upload proof</button>
        </form>
      {% endif %}
      {% if perms.tasks.mark_done %}
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="done_checkbox">Mark as Done</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}