{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
  {% trans "Legal Notice" %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/base/legal_notice.css' %}">
{% endblock %}
{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-10 page-section">
        <h1 class="text-center">{% trans "Legal Notice" %}</h1>

        <p>
          <strong>{% trans "Information according to § 5 TMG:" %}</strong>
        </p>
        <p>
          Procrastination Defier<br />
        </p>
        <p>
          {% trans "Owner: Max Mustermann" %}
        <p>
          Am Traubengarten 1
        </p>
        <p>
          60435 Frankfurt am Main
        </p>
        <p>
          {% trans "Germany" %}
        </p>

        <p>
          <strong>{% trans "Contact:" %}</strong>
        </p>
        <p>
          {% trans "Phone: +49 (0)123 4567890" %}<br />
          {% trans "Email: info@proc-def.com" %}
        </p>

        <p>
          <strong>{% trans "Responsible for content according to § 55 Abs. 2 RStV:" %}</strong>
        </p>
        <p>
          Max Mustermann<br />
          Am Traubengarten 1<br />
          60435 Frankfurt am Main
        </p>

        <h5>{% trans "Liability for Content" %}</h5>
        <p>{% trans "We strive for accurate and timely content but cannot guarantee it fully." %}</p>

        <h5>{% trans "Liability for Links" %}</h5>
        <p>{% trans "We are not responsible for external content linked on this site." %}</p>

        <h5>{% trans "Copyright" %}</h5>
        <p>{% trans "All original content is protected under German copyright law." %}</p>

        <p class="mt-4 text-muted text-end">{% trans "Last updated: September 2025" %}</p>
      </div>
    </div>
  </div>
{% endblock %}